@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #dbbb7c;
  --color-secondary: #44485a;
  --color-accent: #73ac99;
  --color-background: #edf0ef;
  --color-text: #44485a;
}

* {
  font-family: 'Open Sans', sans-serif;
}